*{
    margin: 0;
    padding: 0;
}
body{

    font-family: "Rubik Wet Paint", system-ui;
}

header{
    background-color: rgb(39, 34, 34)
}
.left img{
    width: 225px;
    
}
nav{
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;

  
  
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    font-size: 20px;
    font-family: "Rubik Wet Paint", system-ui;
    margin: 0 40px;
    list-style: none;
    color: white
}
.middle input[type=text]{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 30px;
    width: 550px;
  }

.categories{
    
    height: 300px;
    width: 100%;
    background-color: rgb(39, 34, 34);
    align-items: center;
    justify-content: space-around;
}

.categories-adv{
    padding-left: 100px;
    margin-left: 160px;
    margin-right: 150px;
    padding-top: 100px;
}
.categories-adv img{
    width:  100px;
    border-radius: 20px;
    margin-right: 80px;
    justify-content: center;
    box-shadow: 0 0 30px rgb(221, 215, 215);
                
}

.category-name{
    display: inline-block;
}


.category-name p{
    font-size: 15px;
    color: white;
}